.noti {
  width: 18px;
  height: 18px;
  border-radius: 95%;

  position: absolute;
  top: -2px;
  right: -7px;

  background-color: tomato;

  display: flex;
  justify-content: center;
  align-items: center;
}

.noti--chats {
  position: relative;
  margin-top: 10px;
}

.noti--find {
  width: 5px;
  height: 5px;
  right: -5px;
}

.noti__text {
  font-size: 9px;
  font-weight: 600;

  color: white;
}
