.underMenu {
  position: absolute;
  bottom: 0;

  width: 100%;
  background-color: rgb(245, 245, 245);
  color: var(--darkBlack);
  border-top: 1px solid var(--shineBlack);
  padding: 10px;

  display: flex;
  justify-content: space-around;

  z-index: 1;
}

.underMenu__icon {
  position: relative;
}
